.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
}

.App::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background: url('../assets/bg-project .jpg') center center no-repeat;
  filter: blur(4.5px);
  background-size: 100% 100%;
  z-index: -1;
}

h1 {
  margin: 0 auto;
  padding: 15px 0;
}
h2 {
  text-align: left;
  margin: 12px 0;
}

.finalForm {
  padding: 10px 20px;
  background-color: #fff;
  max-width: 375px;
  margin: 0 auto 15px;
  border-radius: 20px;
}
.dataBodyGroup {
  display: flex;
  justify-content: space-between;
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
}
.resultBlock {
  padding: 10px 20px;
  background-color: #fff;
  max-width: 375px;
  margin: 0 auto;
  border-radius: 20px;
}
.finalValueBlock {
  display: flex;
  justify-content: space-between;
}
.resultBlock h2 {
  color: #ff6f00;
}
.resultBlock h3 {
  margin: 0;
  text-align: left;
}
.resultBlock p {
  margin-top: 5px;
  text-align: left;
  font-size: 14px;
  opacity: 0.6;
}
